<section>
    <div class="content">
        <div class="info-content">
            <div>
                <h1 class="font-syne">{{'About me' | translate}}</h1>
                <div class="font-overpass me-text">
                    <p>{{'About me-text' | translate}}</p>
                    <br>
                    <p>{{'About me-text 2' | translate}}</p>
                </div>
                <a (click)="scrollToSection('contact')"><button class="font-overpass">{{'Lets talk' | translate}}</button></a>
            </div>
            <div class="profile-section">
                <img src="./../../assets/img/profile_picture.jpg">
            </div>
        </div>
        <div class="arrow-section">
            <img src="./../../assets/img/arrow-left.svg">
        </div>
    </div>
</section>