<section>
    <h1 class="font-syne">{{'Privacy policy' | translate}}</h1>
    <div class="content">
        <span class="font-overpass">
            <h2>1. {{'privacy' | translate}}</h2>
            <p><b>{{'general' | translate}}</b></p>
            <p>{{'general-text' | translate}}</p>
            <h2>2. Hosting</h2>
            <p>{{'host' | translate}}</p>
            <p><b>All-Inkl</b></p>
            <p>{{'host-text' | translate}}</p>
            <h2>{{'general-notes' | translate}}</h2>
            <p><b>{{'data-protection' | translate}}</b></p>
            <p>{{'data-protection-text' | translate}}</p>
            <p><b>{{'controller-information' | translate}}</b></p>
            <p>{{'controller-information-text' | translate}}<br>
                Steffen Winter<br>
                Kantstraße 6<br>
                73431 Aalen
            <p>
            <p [innerHTML]='"E-mail: kontakt@steffen-winter.org"'></p>
            <p>{{'controller-infomration-text-2' | translate}}</p>
            <p><b>{{'storage-duration' | translate}}</b></p>
            <p>{{'storage-duration-text' | translate}}</p>
            <p><b>{{'legal-bases' | translate}}</b></p>
            <p>{{'legal-bases-text' | translate}}</p>
            <p><b>{{'recipitient' | translate}}</b></p>
            <p>{{'recipitient-text' | translate}}</p>
            <p>{{'many' | translate}}</p>
            <p><b>{{'revocation' | translate}}</b></p>
            <p>{{'revocation-text' | translate}}</p>
            <p><b>{{'right-to-lodge' | translate}}</b></p>
            <p>{{'right-to-lodge-text' | translate}}</p>
            <p><b>{{'right-to-data' | translate}}</b></p>
            <p>{{'right-to-data-text' | translate}}</p>
            <p><b>{{'information-correction' | translate}}</b></p>
            <p>{{'information-correction-text' | translate}}</p>
            <p><b>{{'right-to-restrict' | translate}}</b></p>
            <p>{{'right-to-restrict-text' | translate}}</p>
            <p><b>{{'ssl' | translate}}</b></p>
            <p>{{'ssl-text' | translate}}</p>
            <h2>4. {{'data-collection' | translate}}</h2>
            <p><b>{{'contact-form' | translate}}</b></p>
            <p>{{'contact-form-text' | translate}}</p>
            <p><b>{{'inquiry' | translate}}</b></p>
            <p>{{'inquiry-text' | translate}}
                <br>
                <br>
                {{'source' | translate}}
            </p>
        </span>
    </div>
</section>