<section>
    <h1 class="font-syne">{{'Legal notice' | translate}}</h1>
    <div class="content">
        <span class="font-overpass">
            <h2>{{'Information' | translate}}</h2>
            <p>Steffen Winter</p>
            <p>Kantstraße 6</p>
            <p>73431 Aalen</p>
        </span>
        <span class="font-overpass">
            <h2>{{'Contact' | translate}}</h2>
            <p [innerHTML]='"E-Mail: kontakt@steffen-winter.org"'></p>
        </span>
        <span class="font-overpass">
            <h2>{{'Disclaimer' | translate}}</h2>
            <p>{{'Content' | translate}}</p>
        </span>
        <span class="font-overpass">
            <h2>{{'Copyright' | translate}}</h2>
            <p>{{'Copyright-text' | translate}}</p>
        </span>
    </div>
</section>