<section>
    <div class="content">

        <div class="headline">
            <h1 class="font-syne">{{'My skills' | translate}}</h1>
        </div>
        <div class="skills">
            <div>
                <div class="single-skill">
                    <img src="./../../assets/img/angular.svg">
                    <p>Angular</p>
                </div>
                <div class="single-skill">
                    <img src="./../../assets/img/typescript.svg">
                    <p>TypeScript</p>
                </div>
                <div class="single-skill">
                    <img src="./../../assets/img/javascript.svg">
                    <p>JavaScript</p>
                </div>
                <div class="single-skill">
                    <img src="./../../assets/img/html.svg">
                    <p>HTML</p>
                </div>
                <div class="single-skill">
                    <img src="./../../assets/img/css.svg">
                    <p>CSS</p>
                </div>
            </div>
            <div>
                <div class="single-skill">
                    <img src="./../../assets/img/firebase.svg">
                    <p>Firebase</p>
                </div>
                <div class="single-skill">
                    <img src="./../../assets/img/git.svg">
                    <p>Git</p>
                </div>
                <div class="single-skill">
                    <img src="./../../assets/img/scrum.svg">
                    <p>Scrum</p>
                </div>
                <div class="single-skill">
                    <img src="./../../assets/img/api.svg">
                    <p>Rest-Api</p>
                </div>
                <div class="single-skill">
                    <img src="./../../assets/img/materialdesign.svg">
                    <p>Material<br>Design</p>
                </div>
            </div>
        </div>
        <div class="arrow-section">
            <img src="./../../assets/img/arrow-right.svg">
        </div>
    </div>
</section>