<section>
    <div class="content">
        <div class="left-section">
            <span class="font-syne">
                <img src="./../../../assets/img/logo_white.png">
                <p>© Steffen Winter 2024</p>
            </span>
        </div>
        <div class="right-section">
            <div>
                <a href="https://github.com/wndi318" target="_blank"><img src="./../../../assets/img/github.svg"></a>
                <a href="mailto:kontakt@steffen-winter.org"><img src="./../../../assets/img/mail-button.svg"></a>
                <a href="https://www.linkedin.com/in/steffen-winter-7548372b6/" target="_blank"><img src="./../../../assets/img/linked-in.svg"></a>
            </div>
            <div>
                <a class="font-overpass" href="legal-notice">{{'Legal notice' | translate}}</a>
            </div>

        </div>
    </div>
</section>