section {
    height: fit-content;
    width: 100%;
    background-color: #fffcf3;
    display: flex;
    justify-content: center;
}

.content {
    width: 1440px;
    padding-top: 104px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headline {
    >h1 {
        font-size: 78px;
        line-height: 78px;
        font-weight: 800;
        letter-spacing: 1%;
        text-align: center;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: #FF9900;
            cursor: default;
        }
    }

    >span {
        font-size: 23px;
        line-height: 27.6px;
        font-weight: 400px;
    }
}


.join {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding-top: 140px;
    padding-bottom: 140px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: none;
    }

    >img {
        width: 620px;
        height: 393px;
        padding-right: 30px;
    }

    >h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
    }

    >span {
        display: flex;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    &:hover>span {
        opacity: 1;
    }

}

.el-polo {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding-bottom: 140px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: none;
    }

    >img {
        width: 620px;
        height: 393px;
        padding-left: 30px;
    }

    >h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
    }

    >span {
        display: flex;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    &:hover>span {
        opacity: 1;
    }
}

.pokedex {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding-bottom: 140px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;


    &:hover {
        filter: none;
    }

    >img {
        width: 620px;
        height: 393px;
        padding-right: 30px;
    }

    >h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
    }

    >span {
        display: flex;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    &:hover>span {
        opacity: 1;
    }
}

.da-bubble {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
    width: 1440px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: none;
    }

    >img {
        width: 620px;
        height: 393px;
    }

    >h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
    }

    >span {
        display: flex;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    &:hover>span {
        opacity: 1;
    }
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    >h1 {
        font-weight: 800;
        font-size: 45px;
        line-height: 45px;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    >h2 {
        font-weight: 400;
        font-size: 23px;
        line-height: 27.6px;
        color: #FF9900;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    >p {
        font-weight: 400;
        font-size: 18px;
        line-height: 19.2px;
    }

    >div {
        display: flex;
        align-items: center;
        gap: 20px;

        >a {
            >button {
                height: 68px;
                width: 213px;
                background-color: transparent;
                border: 4px solid black;
                font-size: 20px;
                line-height: 27.6px;
                font-weight: 400px;
                padding: 20px 60px 20px 60px;
                transition: width 0.2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    width: 250px;
                    font-weight: bold;
                }
            }
        }
    }
}

.arrow-section {
    width: 1440px;
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: center;

    >img {
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: translateX(-24px) translateY(24px);
            cursor: pointer;
        }
    }
}

@media (max-width: 1380px) {
    .content {
        max-width: 100vw;
    }

    .arrow-section {
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .join {
        width: 100vw;
        align-items: center;
        flex-direction: column-reverse;
        gap: 40px;
        height: fit-content;

        >span {
            position: relative;
            left: 2%;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .el-polo {
        width: 100vw;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        height: fit-content;

        >span {
            position: relative;
            left: 2%;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .pokedex {
        width: 100vw;
        align-items: center;
        flex-direction: column-reverse;
        gap: 40px;
        height: fit-content;

        >span {
            position: relative;
            left: 2%;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .da-bubble {
        width: 100vw;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        height: fit-content;

        >span {
            position: relative;
            left: 2%;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
}

@media (max-width: 800px) {
    .headline {
        >h1 {
            font-size: 45px;
            line-height: 45px;
        }
    }

    .join {
        >h1 {
            font-size: 36px;
            line-height: 36px;
        }

        >img {
            width: 316px;
            height: 200px;
        }

        >span {
            opacity: 1;
        }
    }

    .el-polo {
        >h1 {
            font-size: 36px;
            line-height: 36px;
        }

        >img {
            width: 316px;
            height: 200px;
        }

        >span {
            opacity: 1;
        }
    }

    .pokedex {
        >h1 {
            font-size: 36px;
            line-height: 36px;
        }

        >img {
            width: 316px;
            height: 200px;
        }

        >span {
            opacity: 1;
        }
    }

    .da-bubble {
        >h1 {
            font-size: 36px;
            line-height: 36px;
        }

        >img {
            width: 316px;
            height: 200px;
        }

        >span {
            opacity: 1;
        }
    }
}

@media (max-width: 500px) {
    .info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .join {
        >span {
            >div {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .el-polo {
        >span {
            >div {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .pokedex {
        >span {
            >div {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .da-bubble {
        >span {
            >div {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 480px) {
    .content {
        padding-top: 5px;
    }
}

@media (max-width: 380px) {
    .headline {
        display: flex;
        flex-direction: column;

        >h1 {
            font-size: 40px;
            line-height: 40px;
        }

        >span {
            padding-left: 50px;
        }
    }

    .join {
        >h1 {
            margin-left: 20px;
        }

        >img {
            padding: 0;
        }
    }

    .el-polo {
        >img {
            padding: 0;
        }
    }

    .pokedex {
        >img {
            padding: 0;
        }
    }

    .da-bubble {
        >img {
            padding: 0;
        }
    }

}