<section>
    <div class="content">
        <div class="headline">
            <h1 class="font-syne">Portfolio</h1>
            <span class="font-overpass">{{'Feel free to try out my latest development projects' | translate}}
                <br>
                {{'and look into their code...' | translate}}
            </span>
        </div>
        <div class="join">
            <img src="./../../assets/img/join.svg">
            <span class="info">
                <h1 class="font-syne">Join</h1>
                <h2 class="font-overpass">HTML | CSS | JavaScript</h2>
                <p class="font-overpass">{{'Join-text' | translate}}</p>
                <div>
                    <a href="http://steffen-winter.org/join/index.html" target="_blank"><button>Live</button></a>
                    <a href="https://github.com/wndi318/join" target="_blank"><button>GitHub</button></a>
                </div>
            </span>
            <h1 class="font-syne">01/04</h1>
        </div>
        <div class="el-polo">
            <h1 class="font-syne">02/04</h1>
            <span class="info">
                <h1 class="font-syne">El Pollo Loco</h1>
                <h2 class="font-overpass">HTML | CSS | JavaScript</h2>
                <p class="font-overpass">{{'El Pollo Loco-text' | translate}}</p>
                <div>
                    <a href="http://steffen-winter.org/el_polo_loco/index.html" target="_blank"><button>Live</button></a>
                    <a href="https://github.com/wndi318/ElPolloLoco" target="_blank"><button>GitHub</button></a>
                </div>
            </span>
            <img src="./../../assets/img/el_polo_loco.svg">
        </div>
        <div class="pokedex">
            <img src="./../../assets/img/pokedex.png">
            <span class="info">
                <h1 class="font-syne">Pokédex</h1>
                <h2 class="font-overpass">HTML | CSS | JavaScript | API</h2>
                <p class="font-overpass">{{'Poke-text' | translate}}</p>
                <div>
                    <a href="http://steffen-winter.org/pokedex/index.html" target="_blank"><button>Live</button></a>
                    <a href="https://github.com/wndi318/pokedex" target="_blank"><button>GitHub</button></a>
                </div>
            </span>
            <h1 class="font-syne">03/04</h1>
        </div>
        <div class="da-bubble">
            <h1 class="font-syne">04/04</h1>
            <span class="info">
                <h1 class="font-syne">DA Bubble</h1>
                <h2 class="font-overpass">CSS | HTML | Angular | Firebase</h2>
                <p class="font-overpass">{{'Soon' | translate}}!</p>
                <div>
                    <button>{{'Soon' | translate}}</button>
                    <button>{{'Soon' | translate}}</button>
                </div>
            </span>
            <img src="./../../assets/img/coming_soon.jpg">
        </div>
        <div class="arrow-section">
            <img src="./../../assets/img/arrow-left.svg">
        </div>
    </div>
</section>